<header>
    <a href="/">
        <img src="{{ 'assets/img/logo.png' | relative_url }}" alt="Vivian's Sweets Logo">
    </a>
    <span class="menu-icon" onclick="toggleMenu()">&#9776;</span>
    <nav id="nav-menu">
        <a href="{{ '/about' | relative_url }}">About</a>
        <a href="{{ '/menu' | relative_url }}">Menu/Online Order</a>
        <a href="{{ '/gallery' | relative_url }}">Gallery</a>
    </nav>
</header>
<script>
    function toggleMenu() {
        var navMenu = document.getElementById('nav-menu');
        navMenu.classList.toggle('active');
    }
</script>